# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
terraform.tfvars
*.tfplan
tfplan*
*.tfvars
**/modules/*/.build/
**/modules/**/.build/
terraform/modules/app_bundle/.build/

# Python
__pycache__/
*.py[cod]
.venv/
*.egg-info/
.pytest_cache/

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/
